<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utar.ga">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GA">
        <activity
            android:name=".InputActivity"
            android:exported="false" />
        <activity
            android:name=".SpinActivity"
            android:exported="false" />
        <activity
            android:name=".InputActivty"
            android:exported="false" />
        <activity
            android:name=".ModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HanBrothers"
            android:exported="false" />
        <activity
            android:name=".MochiyukOrigami"
            android:exported="false" />
        <activity
            android:name=".Facefood"
            android:exported="false" />
        <activity
            android:name=".SkyViewCuisine"
            android:exported="false" />
        <activity
            android:name=".THESTORY"
            android:exported="false" />
        <activity
            android:name=".EntertainmentHub"
            android:exported="false" />
        <activity
            android:name=".RestoranHongHwai"
            android:exported="false" />
        <activity
            android:name=".VeganLifeRestaurant"
            android:exported="false" />
        <activity
            android:name=".Buddies"
            android:exported="false" />
        <activity
            android:name=".WoodyHouse"
            android:exported="false" />
        <activity
            android:name=".AsianDelightsRestaurant"
            android:exported="false" />
        <activity
            android:name=".BurgerKing"
            android:exported="false" />
        <activity
            android:name=".Subway"
            android:exported="false" />
        <activity
            android:name=".IchibanFoodJunction"
            android:exported="false" />
        <activity
            android:name=".GhanyCorner"
            android:exported="false" />
        <activity
            android:name=".UncleDon"
            android:exported="false" />
        <activity
            android:name=".SpadeBurgerKampar"
            android:exported="false" />
        <activity
            android:name=".WingZoneKampar"
            android:exported="false" />
        <activity
            android:name=".AhBoyNoodle"
            android:exported="false" />
        <activity
            android:name=".Spin"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Favourite"
            android:exported="false" />
        <activity
            android:name=".SecretRecipe"
            android:exported="false" />
        <activity
            android:name=".Domino"
            android:exported="false" />
        <activity
            android:name=".RiceGarden"
            android:exported="false" />
        <activity
            android:name=".Karim"
            android:exported="false" />
        <activity
            android:name=".KFC"
            android:exported="false" />
        <activity
            android:name=".ThaiThaiThai"
            android:exported="false" />
        <activity
            android:name=".SecretCoffee"
            android:exported="false" />
        <activity
            android:name=".SushiMentai"
            android:exported="false" />
        <activity
            android:name=".Mcdonald"
            android:exported="false" />
        <activity
            android:name=".CustomListView"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>